#skills
{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 0 auto;
    background-color: #E5E7E9 ;
    border-radius: 1%;
}

.skillsTitle
{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: red;
    text-decoration: underline;
}

.skillsTitle2
{
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: red;
    text-decoration: underline;
}

/* .skillsDesc
{
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillsBars
{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillsBar
{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(50, 50, 50);
}

.skillsBarImg
{
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
}

.skillsBarText p
{
    font-size: 0.9rem;
    font-weight: 200;
} */


#skills1
{
    display: inline-block;
}

.A-para
{
    font-family: inherit;
    margin: 0 10px 0 10px;
    padding: 0;
    color: black;
}

.skills-divs
{
    display: inline-block;
    margin: 10px;
    background-color: #dab8b8;
    padding: 10px 20px 10px 20px;
    border-radius: 5%;
    color: blue;

}

.skills-divs:hover
{
    border: 2px solid red;
    background-color: #E5E7E9;
    color: black;
}


@media only screen and (max-width: 768px) {
    .skillsTitle {
        font-size: 2rem;
    }

    .skills-divs {
        display: inline-block;
        margin: 10px 10px;
    }
    .A-para {
        font-size: 15px;
        margin: 0 20px 0 20px; 
    }
}





















/* @media screen and (max-width:720px)
{
    .skillsBarText p
    {
        font-size: 2vw;
    }
}

@media screen and (max-width:480px)
{
    .skillsBarText p
    {
        font-size: 3vw;
    }
    .skillsBarImg
    {
        width: 2.25rem;
        height: 2.25rem;
    }
    .skillsBarText h2
    {
        font-size: 5vw;
    }
} */