#certificate
{
    margin: 2rem auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 0;
    /* background-color: #EAECEE ; */
}

.certTitle
{
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 500;
    color: red;
    text-decoration: underline;
}

.certImgs
{
    margin-left: -10rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
    
}

.certImg
{
    object-fit: cover;
    height: auto;
    margin: 0.5rem;
    margin-left:32px;
    margin-top: 1rem;
    /* background-color: #ABB2B9 ; */
    border-radius: 10% ;
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform ease 0.5s, box-shadow ease 0.5s;   */
}

.cert-Style
{
    width: 30rem;
    height: 25rem;
    padding-left: 10%;
}

@media screen and (max-width: 768px) {
    .certImgs {
        margin-left: 0; 
    }
    .certImg {
        width: 100%; 
    }
    .cert-Style {
        width: 100%; 
        max-width: none ;
        margin-left: -30px; 
    }
}